.btn-section {
    padding: 1rem;
    margin-top: 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  

.container {
  width: 80vw;
  height: 60vh;
  margin : 0 auto;
}