<p-table [value]="projects" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" >
    <tr>
      <th *ngFor="let col of cols">
        {{ col }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-project>
    <tr>
      <td>{{ project.id }}</td>
      <td>{{ project.title }}</td>
      <td>{{ project.description }}</td>
      <td>{{ project.startDate }}</td>
      <td>{{ project.endDate }}</td>
      <td>{{ project.progress }}%</td>
    </tr>
  </ng-template>
</p-table>
